.cover-section-div {
	position: relative;
}

.cover-list {
  display: flex;
	flex-wrap: wrap;		
	justify-content: flex-start;
}

.cover-list-item {
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 10px 10px 20px 10px;
	list-style-type: none;
}

.cover-div {
  position: relative;
}

.cover-image {
	height: 13em;
	width: 13em;	
}

.play-image-div {
	transition: .5s ease;
}

.play-image {
  opacity: 0;
	position: absolute;
	height: 5em;
	width: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cover-div:hover .cover-image {
	opacity: 0.5;
}

.cover-div:hover .play-image {
	opacity: 1;
}

@media only screen and (max-width: 1024px) {

	.cover-section-div {
		/* border: 1px solid orchid; */
	}

	.cover-list {
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	.cover-list-item {
		flex: 0 0 auto;
	}
}