#main-container {
	background-color: whitesmoke;
	margin-bottom: 60px;
}

.albums-section {
	margin: 2%; 
	margin-top: 0%;
	padding: 15px;
	padding-left: 15px;
	margin-bottom: 1%; 
	min-height: 300px;
	background-color: whitesmoke;
}

.playlists-section {
	margin: 2%; 
	padding: 15px;
	padding-left: 15px;
	margin-bottom: 1%; 
	min-height: 300px;
	background-color: whitesmoke;
}

.artists-section {
	margin: 2%; 
	margin-top: 0%;
	padding: 15px;
	padding-left: 15px;
	margin-bottom: 1%; 
	min-height: 300px;
	background-color: whitesmoke;
}