<!DOCTYPE html>
<html lang="en">
<head>
  <title>Album</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="../assets/css/baseSettings.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/audioPlayer.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/text.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/albumPage.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/headerNavigation.css">

</head>

<body>
  <header class="header">
    <nav class="h-nav-container">
      <div class="h-nav-container-nav">
        <a class="h-nav-ref" href="">Home</a>
        <a class="h-nav-ref" href="">Library</a>
        <input type="text" placeholder="Search...">
      </div>
    </nav>
  </header>

  <section class="album-page-section">
    <div class="logo-div">
      <div class="top-logo-div">
        <img class="logo-image" src="../assets/images/background.png">
      </div>
      <div class="bottom-logo-div">
        <h3 class="text-album-name">Album</h3>
        <p class="text-album-description">Description</p>
      </div>
    </div>

    <div class="album-list-div">
      <ul class="album-list-ul">
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>

        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>
        <li class="album-list-li">
          <div class="track-div">
            <div class="track-cover-div">
              <img class="track-cover-image" src="../assets/images/cover-image.png">
            </div>
            <p class="track-number">1.</p>
            <p class="track-name">Name</p>
          </div>
          <div class="track-len-div">
            <p class="track-len-text">0.00</p>
          </div>
        </li>

        
    </div>

  </section>

</body>