<!DOCTYPE html>
<html lang="en">
<head>
  <title>Magneet Music</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="../assets/css/baseSettings.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/audioPlayer.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/sections.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/text.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/albums.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/headerNavigation.css">

</head>

<body>
  <header class="header">
    <nav class="h-nav-container">
      <div class="h-nav-container-nav">
        <a class="h-nav-ref" href="">Home</a>
        <a class="h-nav-ref" href="">Library</a>
        <input type="text" placeholder="Search...">
      </div>
    </nav>
  </header>

  <main id="main-container">
    <nav class="nav-container">
      <div class="nav-container-nav">
        <a class="nav-ref" href="">Overview</a>
        <a class="nav-ref" href="">Albums</a>
        <a class="nav-ref" href="">Playlists</a>
        <a class="nav-ref" href="">Likes</a>
        <a class="nav-ref" href="">Following</a>
      </div>
    </nav>
    
    <!-- Albums -->
    <section class="albums-section">
      <h3>Albums</h3>
      <div class="cover-section-div">
        <ul class="cover-list">
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
              
            </div>
            <a class="" href="">Album name</a>
            <p class="" href="">Author name</p>
          </li>
          <!-- kek -->
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="">
                <img class="cover-image" src="../assets/images/cover-image.png">
              </a>
            </div>
          </li>

          <!-- kek -->
        </ul>
      </div>
    </section> 

    <!-- Playlists -->
    <section class="playlists-section">
      <h3>Playlists</h3>
      <div class="">
      </div>
    </section>

    <!-- Likes -->
    <section class="likes-section">
      <h3>Likes</h3>
      <div class="">
      </div>
    </section>

  </main>

    <!-- Player -->
    <section class="player-section">
      <a>Player</a>
    </section>
</body>
</html>