<!DOCTYPE html>
<html lang="en">
<head>
  <title>Magneet Music</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="../assets/css/audioPlayer.css">

</head>

<body>
  <header class="">
    <div id="">
      <a class="header-button" href="">Home</a>
      <a class="header-button" href="">Library</a>
      <input id="header-search" size="" placeholder="Search Track">

      <div id="">
        <a class="header-button" href="">Login</a>
        <a class="header-button" href="">Register</a>
      </div>
    </div>
  </header>
    <main id="">
      <nav class="">
        <div id="">
          <a class="" href="">Overview</a>
          <a class="" href="">Albums</a>
          <a class="" href="">Playlists</a>
          <a class="" href="">Likes</a>
        </div>
      </nav>
      
      <!-- Albums -->
      <section class="">
        <div class="">
          <h3>Albums</h3>
        </div>
      </section> 

      <!-- Playlists -->
      <section class="">
        <div class="">
          <h3>Playlists</h3>
        </div>
      </section>

      <!-- Likes -->
      <section class="">
        <div class="">
          <h3>Likes</h3>
        </div>
      </section>

    </main>

    <!-- Player -->
    <section class="player-section">
      <a>Player</a>
    </section>
</body>
</html>