<!DOCTYPE html>
<html lang="en">
<head>
  <title>Magneet Music</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../assets/css/baseSettings.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/audioPlayer.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/sections.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/text.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/albums.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/artists.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/headerNavigation.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/player.css">

</head>

<body>
  <header class="header">
    <nav class="h-nav-container">
      <div class="h-nav-container-nav">
        <a class="h-nav-ref" href="">Home</a>
        <a class="h-nav-ref" href="">Library</a>
      </div>
      <input type="text" placeholder="Search...">
    </nav>
  </header>

  <main id="main-container">
    <nav class="nav-container">
      <div class="nav-container-nav">
        <a class="nav-ref" href="">Overview</a>
        <a class="nav-ref" href="">Albums</a>
        <a class="nav-ref" href="">Playlists</a>
        <a class="nav-ref" href="">Likes</a>
        <a class="nav-ref" href="">Following</a>
      </div>
    </nav>
    
    <!-- Albums -->
    <section class="albums-section">
      <h3 class="section-title">Albums</h3>
      <div class="cover-section-div">
        <ul class="cover-list">
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <!-- kek -->
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Album name</a>
            <p class="section-author-text" href="">Author name</p>
          </li>
        </ul>
      </div>
    </section> 

    <!-- Playlists -->
    <section class="playlists-section">
      <h3 class="section-title">Playlists</h3>
      <div class="cover-section-div">
        <ul class="cover-list">
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <!-- kek -->
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
          <li class="cover-list-item">
            <div class="cover-div">
              <a href="#">
                <img class="cover-image" src="../assets/images/cover-image.png">
                <div class="play-image-div">
                  <img class="play-image" src="../assets/images/play_image.png"/>
                </div>
              </a>
            </div>
            <a class="section-album-text" href="">Playlist name</a>
            <p class="section-author-text" href="">Creator name</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- Artists -->
    <section class="artists-section">
      <h3 class="section-title">Artists</h3>
      <div class="artists-section-div">
        <ul class="artists-list">
          <li class="artists-list-item">
            <div class ="artist-div">
              <a href="#">
                <img class="goto-artist-image" src="../assets/images/cover-image.png">
                <div class="goto-artist-image-div">
                </div>
              </a>
            </div>
            <a class="section-artists-text" href="">Author Name</a>
          </li>
          <li class="artists-list-item">
            <div class ="artist-div">
              <a href="#">
                <img class="goto-artist-image" src="../assets/images/cover-image.png">
                <div class="goto-artist-image-div">
                </div>
              </a>
            </div>
            <a class="section-artists-text" href="">Author Name</a>
          </li>
          <li class="artists-list-item">
            <div class ="artist-div">
              <a href="#">
                <img class="goto-artist-image" src="../assets/images/cover-image.png">
                <div class="goto-artist-image-div">
                </div>
              </a>
            </div>
            <a class="section-artists-text" href="">Author Name</a>
          </li>
          <li class="artists-list-item">
            <div class ="artist-div">
              <a href="#">
                <img class="goto-artist-image" src="../assets/images/cover-image.png">
                <div class="goto-artist-image-div">
                </div>
              </a>
            </div>
            <a class="section-artists-text" href="">Author Name</a>
          </li>
          <li class="artists-list-item">
            <div class ="artist-div">
              <a href="#">
                <img class="goto-artist-image" src="../assets/images/cover-image.png">
                <div class="goto-artist-image-div">
                </div>
              </a>
            </div>
            <a class="section-artists-text" href="">Author Name</a>
          </li>

        </ul>
      </div>
    </section>

    

  </main>

    <!-- Player -->
    <section class="player-section">
      <div class="player-cover">
        <!-- <img class="" src="..//assets/images/cover-image.png"> -->
      </div>
      <div class="player-track-info">
        <p class="player-track-name">Name</p>
        <p class="player-track-name">Artist</p>
      </div>
      <div class="player-slider-div">
        <video class="player-slider-video" controls="" _autoplay="" name="media">

        </video>
      </div>
    </section>
</body>
</html>