<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../assets/css/auth.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/authHeader.css">
</head>

<body>
  <header class="header-div-flex">
    <div id="logo-div-flex">
      <img id="logo-size-header" src="../assets/images/logo.png">
    </div>
    <div id="block-auth-buttons">
      <a class="header-ref-button" href=""><div class="div-header-buttons"><p>Authentication</p></div></a>
    </div>
  </header>  
  <main>
    <form>
      <div>
				<div class="div-flex-auth">
					<div class="div-help-auth-text">
						<input type="text" placeholder="Login...">
					</div>
					<div class="div-help-auth-text">
						<input type="password" placeholder="Password...">
          </div>
          <div class="div-help-auth-text">
						<input type="password" placeholder="Password...">
					</div>
					<div class="div-button-auth">
						<button class="btn-cyan">Register!</button>
					</div>
				</div>
      </div>
    </form>
  </main>

</body>
</html>